#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.docstates

#Tooling
.vs/
_ReSharper*/
_dotCover*/
*.resharper
[Tt]est[Rr]esult*

#Subversion files
.svn

# Office Temp Files
~$*

# Other
/src/Quartz/Quartz.xml
/src/Quartz.Serialization.Json/Quartz.Serialization.Json.xml
.nuke/

*.ReSharper
*.dotCover
/package/*
*.zip
website
/doc/apidoc
*.nupkg
/packages
/buildlog.txt
/src/AssemblyInfo.cs

*project.lock.json
/.idea
/.fake
/*.iml
jspm_packages
node_modules
*.nuget.targets


/src/Quartz.Web/App/views/*.map
/src/Quartz.Web/App/views/*.js
/src/Quartz.Web/views/*.js
/src/Quartz.Web/views/*.map
/src/Quartz.Web/resources/*.js
/src/Quartz.Web/resources/*.map

/.idea
/*.iml

/.fake
/tools/psake
/tools/NUnit*
/artifacts
/temp
/src/Quartz.Examples.AspNetCore/healthchecksdb

docs/.vuepress/dist
docs/.vuepress/.temp

/node_modules
BenchmarkDotNet.Artifacts

*.received.*
