<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.1" />
  <package id="Common.Logging.Log4Net1211" version="2.1.1" />
  <package id="log4net" version="1.2.11" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="Topshelf" version="2.3" />
</packages>