<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="1.25.2" targetFramework="net4" userInstalled="true" />
  <package id="FirebirdSql.Data.FirebirdClient" version="4.5.0.0" targetFramework="net4" userInstalled="true" />
  <package id="NUnit" version="2.6.3" targetFramework="net4" userInstalled="true" />
  <package id="odp.net.managed" version="121.1.1" targetFramework="net4" userInstalled="true" />
</packages>