.csharpcode, .csharpcode pre
{
	font-size: 12px;
	color: black;
	font-family: "Lucida Console", "Courier New", Courier, Monospace;
	background-color: #ffffff;
	border: solid 1px gray;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: 6px;
	margin-right: 6px;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #006080; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.csharpcode .lnum { color: #606060; }
