# Default Properties file for use by StdSchedulerFactory
# to create a Quartz Scheduler Instance, if a different
# properties file is not explicitly specified.
#

quartz.scheduler.instanceName = DefaultQuartzScheduler

quartz.threadPool.threadCount = 10
quartz.threadPool.threadPriority = Normal

quartz.jobStore.misfireThreshold = 60000


