/*Yahoo browser reset
----------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
/*q:before,q:after { content:”; }*/
abbr,acronym { border:0; }

/*Defaults
----------------------------------------------------------*/
html {height: 100%;}

body {
	font: normal 100% Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	text-align:left;
	color:#3e483c;
}


/* ---------- Headings and defaults ---------- */
h1,h2,h3,h4,h5,h6,legend {padding:4px 0; font-family:"Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; font-weight:normal; font-style: normal;color:#27320a;}

h1 {font-size: 190%;}
h2 {font-size: 150%;}
h3 {font-size: 140%;}
h4 {font-size: 125%;}
h5 {font-size: 115%;}
h6 {font-size: 105%;}

p {line-height:20px; padding:2px 8px;}

ul {list-style:disc outside; line-height:22px; padding:0 0 0 24px;}
ol {list-style:decimal outside; line-height:22px; padding:0 0 0 24px;}

strong {font-weight: bold;}
em {font-style:italic;}

#SidebarContentDiv ul {list-style:none; padding:0 0 0 12px;}

.resulterror, .resulterror * {
	color: #FF0000;
}

.resultok, .resultok * {
	color: #009900;
}

input, label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2px;
	margin: 0px;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin: 0px;
}

input.tab {
	background-color: #DDDDDD;
	border: solid 3px #DDDDDD;
	color: #000000;
	font-size: 75%;
	width: auto;
	overflow: visible;
	padding: 0px;
}

input.tabselected {
	background-color: #214C9A;
	border: solid 3px #214C9A;
	color: #FFFFFF;
	font-size: 75%;
	width: auto;
	overflow: visible;
	font-weight: bold;
	padding: 0px;
}

input.compact {
	font-size: 75%;
	padding: 0px;
}

#TabDiv {
	border-bottom: solid 6px #214C9A;
	margin-bottom: 10px;
}

/* Contains the date picks in the Edit.aspx page */
#DatePickDiv {font-size: 75%; border: solid 1px #999999; background-color: #FFFFFF; padding: 2px;}

a.datepicklink {display: block;}

/* Small text */
p.small, small {font-size: 75%;}

/* Big text */
p.big, big {font-size: 105%;}

/* Description/legend for images */
p.imagedescription {font: 75% italic; margin:4px 0 0 0;}

/* ----------------------- links  ----------------------------- */
a, a:visited {color:#006699; text-decoration:none;}
a:hover {text-decoration: underline;}
a:active {color:#006699;}

a.headeranchor {visibility: hidden;}

h1.pagetitle, h1.pagetitlesystem {border-bottom:1px dashed #e4e7dc; margin-bottom:8px; padding-bottom:2px;}

h1.pagetitlesystem {margin-bottom: 10px;}

/* Class for applying a separator under H elements (useful to avoid usage of HR) */
h1, h2, h3 {
	border-bottom:1px dashed #e4e7dc;
	padding-bottom: 2px;
	margin-bottom: 8px;
    margin-top: 19px;
}

a.editsectionlink {
	float: right;
	font-size: 75%;
	margin: 4px 0px 0px 0px;
}

code, pre {
	font-family: Courier New, Lucida Console, Monospace;
	font-size:95%;
	color: #000000;
	padding: 0px;
	margin: 0px;
}

pre {
	border: dashed 1px #999999;
	background-color: #FFFFF0;
	margin: 10px 0;
	padding: 8px;
	overflow:auto;
}

table, div {
	padding: 0px;
	margin: 0px;
}

#PageContentDiv table {
    border: 1px solid #CCC;
    margin-top: 16px;
    margin-bottom: 16px;
}

#PageContentDiv table thead td {
    background-color: #DDD;
    font-size: 0.8em;
}

#PageContentDiv table td {
    font-size: 0.8em;
    border: 1px solid #CCC;
    padding: 3px;
    margin: 0;
}

img {
	border: none;
}

/* Class for general purpose images (contained in Wiki pages) */
img.image {
	border: solid 1px #CCCCCC;
}

/* Class of the formatting Buttons in Edit.aspx */
img.format {
	border: solid 1px;
	padding: 2px;
}

/* Div used for clearing floats */
div.clear {
	clear: both;
}

/* Div containing images alighed to the left */
div.imageleft {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin-left: 0px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: left;
}

/* Div containing images alighed to the right */
div.imageright {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
	float: right;
}

/* Table containing images not aligned */
table.imageauto {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	padding: 4px;
	margin: 4px 4px 4px 0px;
}

/* Div acting like a box */
div.box {
	border: solid 1px #CCCCCC;
	background-color: #F9F9F9;
	display: table-cell;
	padding: 4px;
	margin: 4px 4px 0px 4px;
}

/* Contains the Header */
#HeaderDiv {
	margin:0 auto;
	padding: 0px;
	height:134px;
	background:url(images/background_header.jpg) no-repeat top center;
}

#branding {
	width:960px;
	display:block;
	height:90px;
	margin:0em auto;
}

#branding h1 {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
    margin-top: 0;
}

#branding h1 a {
	background:url(images/orchardLogo.jpg) no-repeat scroll 0 0;
	float:left;
	display:block;
	width:216px;
	height:90px;
	position:relative;
	top:-4px;
	margin-bottom:-4px;
	z-index:0;
}

#navMain{
	width:960px;
	display:block;
	height:44px;
	margin:0em auto;
	clear:both;
}

/* Top navigation pane
----------------------------------------------------------*/

#navMain ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#navMain ul li {
	float:left;
	margin:0 8px;
}

#navMain ul li a, #navMain ul li a:visited, #navMain ul li a:active {
	display:block;
	padding:10px 12px 12px 12px;
	color: #e2e4dd;
	font-size:104%;
	text-decoration: none;
}


#navMain ul li a:hover {
	color:#ffea9b;
}

#navMain ul li.On {
	background:url(images/tabOn.gif) no-repeat bottom center;
	line-height: 22px;
}



/* Contains the SidebarDiv and the MainDiv */
#ContainerDiv {
	width:960px;
	margin:0px auto;
	background:url(Images/background_content.jpg) top center no-repeat #fff;
	position: relative;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: auto;
	overflow:auto;
}

html>body #ContainerDiv {height: auto;}

/* Contains the Sidebar */
#SidebarDiv {
	float:right;
	padding:34px 10px 10px 10px;
	width:225px;
	background:url(Images/background_module.gif) no-repeat bottom right;
}

#SidebarDiv h2 {
    margin-top: 6px;
}

#SidebarDiv div {
    margin-bottom: 19px;
}

/* Contains the contents of a Page */
#MainDiv {
	padding:12px 10px 10px 22px;
	width:680px;
}

#MainDiv img {
    margin-top: 10px;
    margin-bottom: 10px;
}

#MainFooterDiv {clear:both;}

/* Contains the Page Header (title, last modify, etc.) */
#PageHeaderDiv {}

#PageInternalHeaderDiv {
	margin-bottom: 10px;
}

#PageInternalFooterDiv {
	margin-top: 10px;
}

/* Contains the link to the page editing form (Edit.aspx) and history */
#EditHistoryLinkDiv {
	float: right;
	font-size: 75%;
	padding: 24px 0 8px 0;
}
#EditLink, #HistoryLink, #ViewCodeLink, #DiscussLink, #BackLink, #PostReplyLink {
	margin-left: 4px;
	padding: 2px;
	border: solid 1px #999999;
	text-decoration: none;
}
#EditLink:hover, #HistoryLink:hover, #ViewCodeLink:hover, #DiscussLink:hover, #BackLink:hover, #PostReplyLink:hover {
	border: solid 1px #214C9A;
	text-decoration: none;
	background-color: #FFFFEE;
}

/* Class of the P containing the Edit Link */
p.editlink {font-size: 75%;}

/* Contains the Page Content */
#PageContentDiv {
	margin: 10px 0px 0px 0px;
	line-height:24px
}

/* Contains the Footer */
#FooterDiv {
        margin:0 auto;
        padding:0px;
        background:url(Images/background_footer.jpg) no-repeat scroll center top;
        height:120px;
        width:960px;
        vertical-align:bottom;
        text-align:center;
}

#FooterDiv p {
	padding:80px 0 0 0;
}

#EditProviderListDiv {
	float: right;
}

/* Contains the page preview in the Edit.aspx page */
#PreviewDiv {
}


blockquote {
	border-left: solid 8px #DDDDDD;
	margin-left: 16px;
	padding: 0px 0px 2px 6px;
    margin: 10px 0 10px 0;
}

.search {padding:12px 0 0 12px;}

#TxtSearchBox {
	font-size: 75%;
	width: 160px;
	background: url(Images/Search.png) no-repeat right center #b2b89d;
	background-color:#fff; /*Remove when search gets moved up to top branding area*/
	margin:4px 0;
	padding:3px;
	border:1px solid #50553f;
	color:#555;
}

#TxtSearchPage {
	font-size: 75%;
	width: 170px;
	background-image: url(Images/Search.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #FFFFFF;
	border: solid 1px #CCCCCC;
	margin: 1px;
}

span.signature {
	font-style: italic;
}

.TocContainer {
	border: solid 1px #CCCCCC;
	padding: 4px;
	background-color: #F9F9F9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 20px;
    margin-bottom: 20px;
}

.TocContainer ol {
    list-style-type: none;
    padding:0;
}

.TocContainer h1, .TocContainer h2, .TocContainer h3, .TocContainer h4, .TocContainer h5, .TocContainer h6 {
    font-size: 0.8em;
    border:none;
    padding:0;
    margin:0;
}

.TocContainer a:hover {
    text-decoration: none;
}

.TocContainer h1 {
}

.TocContainer h2 {
    margin-left: 8px;
}

.TocContainer h3 {
    margin-left: 16px;
}

.TocContainer h4 {
    margin-left: 24px;
}

.TocContainer h5 {
    margin-left: 32px;
}

.TocContainer h6 {
    margin-left: 40px;
}

/* Search page begin */

#SearchCatExtDiv {
	float: right;
	margin-left: 15px;
	background-color: #FFFFFF;
}

#SearchCatDiv {
	border: solid 1px #999999;
	padding: 2px;
	max-height: 180px;
	min-width: 200px;
	overflow: auto;
}

#SearchControlsDiv {
}

#SearchInstructionsDiv, #SearchInstructionsDiv ul li {
	font-size: 75%;
}

#SearchResultsDiv {
	float: none;
	min-height: 80px;
}

#SearchResultsDiv header {
    font-size: 0.8em;
}

#SearchResultsDiv li {
    list-style: none;
}

.searchPagination {
    margin-top: 20px;
}

.searchPagination li {
    list-style: none;
    display: inline;
}

.searchButton {
    border: none;
    background: transparent;
    font-size: 1.4em;
    color: #006699;
    cursor: pointer;
}

/* Search page end */

#siteInfo {
    bottom: 0;
    width:100%;
    display: block;
}

#siteInfoContent {
      margin:0 auto;
      background:url(images/background_footer.jpg) no-repeat center top;
      height:120px;
      width:960px;
      vertical-align:bottom;
      text-align:center;
}


#siteInfoContent ul{
	padding:80px 0 0 0;
	list-style:none;
}

#siteInfoContent ul li {
	display:inline;
	margin:0px;
        padding: 0 8px;
}

/* Extensions
----------------------------------------------------------*/

.floatLeft {float: left;} /*Use this class to float anything to the left*/

.floatRight {float: right;}  /*Use this class to float anything to the right*/

.alignRight {text-align: right;}

.Inline {display: inline;}

.center {margin:0 auto;}  /*Center*/

.clearLayout {clear:both;}  /*Use this class clear layout*/

.disabled {color:#CCC;}

.topSpacer {margin-top: 30px;}

.bottomSpacer {margin-bottom: 20px;}

.displayText {display:none;}