<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <time type="FastUTC" />
  <targets>
    <target name="console" xsi:type="ColoredConsole"
            layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="Quartz.*" maxLevel="Debug" final="true"/> <!-- send to null logger-->
    <logger name="Quartz.*" minLevel="Info" writeTo="console" final="true"/> <!-- final don't process any further rule if matched-->
    <logger name="*" minLevel="Info" writeTo="console" />
  </rules>
</nlog>