<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="odp.net.managed" version="121.1.1" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" />
</packages>