<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.2400" targetFramework="net45" userInstalled="true" />
  <package id="RhinoMocks" version="3.6.1" />
</packages>